.GatchiWrapper {
  background-color: pink;
  height: 300px;
  width: 225px;
  border: solid 5px hotpink;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GatchiScreen {
  background-color: pink;
  border: solid 5px hotpink;
  width: 60%;
  height: 30%;
}
