.Healthbar {
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  border: solid 2px #f04882;
  border-radius: 5px;
  padding: 0.15em;
  background-color: #ffa5bf;
  overflow: hidden;
}

.HealthbarProgress {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #f04882;
  position: relative;
  z-index: 2;
}

.HealthbarFill {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 5px;
}
